
.menu{
	margin-left:26%;
	color: #2E8B57;
}
h2{
	text-align:center;
	color:#228B22;
}
form > fieldset > legend{
	color: #006400;
	margin-top:20px;
}
table{
	border:2px solid;
	border-color: #006400;
	text-align:center;
	
}
